:root {
  --bg-dark: #f3f5f4;
  --bg: #dddddd;
  --color: #243746;
  --text-color: #243746;
  --color-primary: #158876;
  --font: 16px;
  font-size: var(--font);
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --bg-dark: #10161b;
  --text-color: #243746;
  --bg: #2f3438;
  font-size: var(--font);
}

* {
  transition: all 0.1s;
}

body {
  background-color: var(--bg-dark);
  color: var(--color);
}
input {
  color: var(--text-color);
}
html {
  @apply font-sans;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
a {
  color: var(--color-primary);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.text {
  color: var(--color);
}
.text-secondary {
  color: var(--color-primary);
}
.btn {
  @apply rounded-md;
  @apply px-3;
  @apply py-2;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.btn:focus {
  @apply outline-none;
}
.btn:hover {
  @apply opacity-75;
}
.dark-btn {
  @apply rounded-md;
  @apply px-3;
  @apply py-2;
  background-color: var(--color-primary);
  color: var(--bg);
}
.dark-btn:focus {
  @apply outline-none;
}
.dark-btn:hover {
  @apply opacity-75;
}

/* mouse */

.mouse {
  margin: 50px auto;
  width: 100px;
}
.mouse-icon {
  margin-left: 45px;
  width: 25px;
  height: 45px;
  border: 2px solid var(--color);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: var(--color);
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
